body {
    background: linear-gradient(#E5F3F7, slategray);
}

.heading {
    padding: 25px;
    text-align: center;
    color: black;
    font-family: Palatino;
    word-spacing: 5em;
}

.fullbar a:hover {
    background-color: gainsboro;
}

.navHead {
    padding: 25px;
    text-align: center;
    color: black;
    font-family: Palatino;
    word-spacing: 5em;
    background-color: gainsboro;
}

.fullbar {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 30px;
}

h1 {
    text-align: center;
    font-family: Palatino, Times;
    margin: 0;
    padding = 0;
    line-height: 140%;
}

p.subline {
    margin: 0;
    padding = 0;
    text-align: center;
    font-family: Palatino;
    font-style: italic;
    line-height: 140%;
}

.bio {
    width: 360px;
    height: 360px;
    border: 2px solid black;
    float: left;
    margin: 0 10.5%;
    text-align: center;
    text-align: justify;
    line-height: 155%;
    padding: 20px;
    position: absolute;
}

h2.welcome {
    margin: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    font-family: Palatino;
    color: white;
}

html {
    height: 100%
}

.image {
    display: block;
    float: right;
    margin: 0 10.5%;
    padding-bottom: 20px;
}

.box {
    border: 2px solid pink;
    padding: 30px;
    background-color: white;
    width: 60%;
    margin: auto;
    
}