.contents a.contents, a.contents:link, a.contents:visited{
    color:black;
    font-family:Palatino;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    border: 2px solid pink;

}

.fullcontents{
    display:flex;
    justify-content:space-between;
    padding: 30px;
}

.projTitle{
    margin:auto;
    text-align: center;
    font-family:Palatino;
    font-size: 20px;
    padding: 20px;
}

.projImg{
    width: 50%;
    float: right;
    padding-left: 15px;
    padding-bottom: 15px;
}

.altProjImg{
    width: 50%;
    float: left;
    padding-right: 15px;
    padding-bottom: 15px;
}

.caption::after{
    font-family: Palatino;
    font-size: 16px;
    content: "";
    clear: both;
    display: table;
}

.but {
    font-family: Palatino;
    border: none;
    background: none;
    margin-top: 10px;
    color: white;
    text-decoration: none;
    font-size: 16px;
    padding: 0px;
    margin: 0px;
}