.contents a.contents, a.contents:link, a.contents:visited{
    color:black;
    text-decoration-line: none;
    font-family:Palatino;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    border: 2px solid pink;

}

.fullcontents{
    display:flex;
    justify-content:space-between;
    padding: 30px;
}

.projTitle{
    margin:auto;
    text-align: center;
    font-family:Palatino;
    font-size: 20px;
    padding: 20px;   
}