#annika{
    font-family: 'Quattrocento';
    text-align: left;
    color: white;
    padding-left: 20px;
    font-size: 3rem;
    position: absolute;
}

#blurb{
    font-family: 'Quattrocento';
    text-align: right;
    color: white;
    background: rgba(0, 0, 0, 0.35);    
    padding-right: 20px;
    padding-left: 20px;
    margin-top: 200px;
    font-size: 2rem;
    position: absolute;
    right: 0;
}


video {
  /* Make video to at least 100% wide and tall */
    min-width: 100%;
    min-height: 100%;

  
    position: fixed;
    top: 50%;
    left: 50%;


    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;

}



.heading {
    text-decoration: none;
    padding: 15px;
    text-align: center;
    color: black;
    font-family: Quattrocento;
    margin: 10px;
    font-size: 1.5rem;

}

.navHead {
    text-decoration: none;
    padding: 15px;
    text-align: center;
    color: black;
    font-family: Quattrocento;
    background-color: #EBD0C7;
    margin: 10px;
    font-size: 1.5rem;

}

.fullbar a:hover {
    background-color: #EBD0C7;
}

.fullbar {
    text-align: right;
    padding-top: 20px;
    padding-bottom: 30px;
    padding-right: 20px;
}

    
.parallax-container {
      height: 400px;
}

.aka{
    width: 100%;
}

.parallax-containerLITE {
      height: 650px;
}
